html, body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #333333;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
}

.jumbotron {
	height: 700px;
	background:url(home-office.jpg)no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.nav {
	margin: 0;
	padding: 20px 0;
}

.nav li {
	color: #ffffff;
	font-family: 'Open sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	display: inline;
	margin: 40px;
}

.main {
	position: relative;
	top: 180px;
	text-align: center;
}

.main h1 {
	color: #ffffff;
	font-family: 'Open sans', sans-serif;
	font-weight: 600;
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 80px;
	text-transform: uppercase;
}